@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes svg-left-waves {
    0% {
      rotate: 30deg;
      transform: translateY(300px) scale(1);
    }
    75% {
      rotate: 30deg;
        transform: translateY(-10px) translateX(25px) scale(1.25);
    }
    100% {
      rotate: 30deg;
        transform: translateY(-10px) translateX(25px) scale(1.25);
    }
  }

  @keyframes svg-right-waves {
    0% {
      rotate: 230deg;
      transform: translateY(300px) scale(1);
    }
    75% {
      rotate: 230deg;
        transform: translateY(-10px) translateX(25px) scale(1.25);
    }
    100% {
      rotate: 230deg;
        transform: translateY(-10px) translateX(25px) scale(1.25);
    }
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}